@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #0B3954;
  --background-color: #EAFFFD;
}

/* html {
  font-size: 1rem;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(1rem + 0.375 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 1.375rem;
  }
} */

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

@layer components {
  .btn-primary {
    @apply text-bgwhite transition-all ease-in-out duration-75 h-12 w-28 lg:w-32 font-notoSans font-semibold text-lg lg:text-xl bg-deepBlue from-sky-800 to-violet hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-deepBlue/20 dark:focus:ring-deepBlue/5 rounded-lg px-5 py-2.5 text-center me-2 mb-2;
  }
}

@layer components {
  .logo-primary {
    @apply font-lato text-base md:text-lg lg:text-xl font-semibold;
  }
}
