@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000000;
  --background-color: #fffff3;
}

/* html {
  font-size: 1rem;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(1rem + 0.375 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 1.375rem;
  }
} */

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

@layer components {
  .btn-primary {
    @apply bg-black h-10 w-28 lg:h-12 lg:w-32 text-white font-notoSans font-semibold text-lg lg:text-xl transition-colors hover:bg-green/80 duration-200;
  }
}

@layer components {
  .logo-primary {
    @apply font-lato text-base md:text-lg lg:text-xl font-semibold;
  }
}
